<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>excel</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body,
        html {
            height: 100%;
        }

        .flex-center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>

<body class="container-fluid">
    <div id="app">
        <p>
            <button type="button" @click="analyse()">分析成绩</button>
        </p>
        <div class="row">
            <div class="col-md-6">
                <p title="请选择上次成绩">
                    <label for="">上次成绩<input type="file" @change="fileBefore=$event.target.files[0]"></label>
                </p>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <th v-for="(v,i) of aoaFeader" :key="i">{{v}}</th>
                    </thead>
                    <tbody>
                        <tr v-for="(v,i) of beforeTableData">
                            <td>{{v['姓名']}}</td>
                            <td>{{v['语文']}}</td>
                            <td>{{v['数学']}}</td>
                            <td>{{v['英语']}}</td>
                            <td>{{v['物理']}}</td>
                            <td>{{v['化学']}}</td>
                            <td>{{v['思想']}}</td>
                            <td>{{v['历史']}}</td>
                            <td>{{v['总分']}}</td>
                            <td>{{v['级排名']}}</td>
                            <td>{{v['班排名']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <p title="请选择本次成绩">
                    <label for="">本次成绩<input type="file" @change="fileNow=$event.target.files[0]"></label>
                </p>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <th v-for="(v,i) of aoaFeader" :key="i">{{v}}</th>
                    </thead>
                    <tbody>
                        <tr v-for="(v,i) of nowTableData">
                            <td>{{v['姓名']}}</td>
                            <td>{{v['语文']}}</td>
                            <td>{{v['数学']}}</td>
                            <td>{{v['英语']}}</td>
                            <td>{{v['物理']}}</td>
                            <td>{{v['化学']}}</td>
                            <td>{{v['思想']}}</td>
                            <td>{{v['历史']}}</td>
                            <td>{{v['总分']}}</td>
                            <td>{{v['级排名']}}</td>
                            <td>{{v['班排名']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
    <script src="https://lib.baomitu.com/vue/2.6.14/vue.min.js"></script>
    <script src="https://lib.baomitu.com/xlsx/0.18.4/xlsx.core.min.js"></script>
    <script crossorigin="anonymous" src="https://lib.baomitu.com/jquery/latest/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
    <script>
        window.onload = function () {
            new Vue({
                el: '#app',
                data() {
                    return {
                        fileBefore: null,// 之前成绩文件
                        fileNow: null, //现在成绩文件
                        // uniid: '考号', // 唯一数据标识字段
                        aoaFeader: ['姓名', '语文', '数学', '英语', '物理', '化学', '思想', '历史', '总分', '级排名', '班排名'],
                        beforeTableData: [],
                        nowTableData: [],
                    }
                },
                methods: {
                    analyse() {
                        var fileBefore = this.fileBefore;
                        var fileNow = this.fileNow;
                        if (!fileBefore) {
                            alert('请选择上次成绩')
                            return
                        }
                        // if (!fileNow) {
                        //     alert('请选择本次成绩')
                        //     return
                        // }
                        var that = this
                        this.readWorkbookFromLocalFile(fileBefore, function (workbook) {
                            console.log('workbook', workbook)
                            var excel_json = that.readWorkbook(workbook)
                            that.beforeTableData = excel_json
                            console.log(excel_json)
                        })
                        this.readWorkbookFromLocalFile(fileNow, function (workbook) {
                            console.log('workbook', workbook)
                            var excel_json = that.readWorkbook(workbook)
                            that.nowTableData = excel_json
                            console.log(excel_json)
                        })
                    },
                    // 读取本地excel文件
                    readWorkbookFromLocalFile(file, callback) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var data = e.target.result;
                            var workbook = XLSX.read(data, { type: 'binary' });
                            if (callback) callback(workbook);
                        };
                        reader.readAsBinaryString(file);
                    },
                    readWorkbook(workbook) {
                        var sheetNames = workbook.SheetNames; // 工作表名称集合
                        var worksheet = workbook.Sheets[sheetNames[0]]; // 这里我们只读取第一张sheet
                        var excel_json = XLSX.utils.sheet_to_json(worksheet);
                        return excel_json
                    }
                },
            })
        }
    </script>
</body>

</html>