<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>成绩分析</title>
    <link rel="shortcut icon" href="./assets/mao.gif" type="image/x-icon" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
    />
    <style>
      body,
      html {
        height: 100%;
      }

      .mt-12 {
        margin-top: 12px;
      }

      .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .column {
        flex-direction: column;
      }

      .item {
        flex: 1;
      }

      th {
        text-align: center;
      }

      td {
      }

      td .cell {
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }

      .success {
        color: green;
      }

      .danger {
        color: red;
      }
    </style>
    <style>
      @media print {
        .no-print {
          display: none;
        }
        @page {
          size: A4 portrait;
        }
      }
    </style>
  </head>

  <body class="container-fluid">
    <div id="app">
      <section class="flex-center mt-12 no-print">
        <!-- <button type="button" class="btn btn-info" @click="analyse()">
          分析成绩
        </button> -->
        <section title="请选择上次成绩" class="flex-center item">
          <label for="">
            <span class="label label-warning">上次成绩</span>
            <input type="file" @change="fileChangeBefore" />
          </label>
        </section>
        <section class="item flex-center column">
          <button type="button" class="btn btn-info" @click="download()">
            下载成绩分析excel
          </button>
          <span class="label label-default mt-12">请先上传两次对比成绩</span>
        </section>
        <section title="请选择本次成绩" class="item flex-center">
          <label for="">
            <span class="label label-warning">本次成绩</span>
            <input type="file" @change="fileChangeNow" />
          </label>
        </section>
      </section>
      <div class="row">
        <div class="col-md-6 no-print">
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <th v-for="(v,i) of tableHeader" :key="i">{{v}}</th>
            </thead>
            <tbody class="beforeTableBody">
              <tr v-for="(data,i) of beforeTableData">
                <td v-for="(key,_i) of tableHeader" :key="_i">
                  <div class="cell">{{data[key]}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table
            class="table table-hover table-striped table-bordered nowTable"
          >
            <thead>
              <th v-for="(v,i) of tableHeader" :key="i">{{v}}</th>
            </thead>
            <tbody>
              <tr v-for="(data,i) of nowTableData" @click="showLine">
                <td v-for="(key,_i) of tableHeader" :key="_i">
                  <div class="cell">
                    <span>{{data[key]}}</span>
                    <span
                      :class="{
                        'success bg-success':data[key+'_score'] > 0,
                        'danger bg-danger':data[key+'_score'] < 0
                    }"
                      >{{data[key+'_score']}}</span
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://lib.baomitu.com/vue/2.6.14/vue.min.js"></script>
    <script src="https://lib.baomitu.com/xlsx/0.18.4/xlsx.core.min.js"></script>
    <script
      src="https://files.cnblogs.com/files/mggahui/leader-line.min.js"
      async
    ></script>
    <script
      src="https://lib.baomitu.com/jquery/latest/jquery.js"
      async
    ></script>
    <script>
      window.onload = function () {
        var leader_line = null;
        var topRankHeader = ["级排名", "班排名"]; // 这个排名数值越小越好
        // 算分的表头
        var scoreHeader = [
          "语文",
          "数学",
          "英语",
          "物理",
          "化学",
          "思想",
          "历史",
          "总分",
          ...topRankHeader,
        ];
        new Vue({
          el: "#app",
          data() {
            return {
              fileBefore: null, // 之前成绩文件
              fileNow: null, //现在成绩文件
              // uniid: '考号', // 唯一数据标识字段
              tableHeader: ["姓名", ...scoreHeader],
              beforeTableData: [],
              nowTableData: [],
            };
          },
          filters: {
            format(v) {
              return Number(v).toFixed(1);
            },
          },
          methods: {
            fileChangeBefore(e) {
              var file = e.target.files[0];
              //   防止取消
              if (file) {
                this.fileBefore = file;
                this.showBeforeTAble().then(this.analyse);
              }
            },
            fileChangeNow(e) {
              var file = e.target.files[0];
              //   防止取消
              if (file) {
                this.fileNow = file;
                this.showNowTable().then(this.analyse);
              }
            },
            showBeforeTAble() {
              return this.readWorkbookFromLocalFile(this.fileBefore).then(
                (workbookBefore) => {
                  var excel_json_before = this.readWorkbook(workbookBefore);
                  this.beforeTableData = excel_json_before;
                }
              );
            },
            showNowTable() {
              return this.readWorkbookFromLocalFile(this.fileNow).then(
                (workbookNow) => {
                  var excel_json_now = this.readWorkbook(workbookNow);
                  this.nowTableData = excel_json_now;
                }
              );
            },
            analyse() {
              var fileBefore = this.fileBefore;
              var fileNow = this.fileNow;
              if (!fileBefore && !fileNow) {
                return;
              }
              var beforeTableData = this.beforeTableData;
              var temp = {}; // 缓存数据，方便快速查找
              beforeTableData.forEach((v) => {
                temp[v["姓名"]] = v;
              });
              var nowTableData = this.nowTableData;
              nowTableData.forEach((score) => {
                scoreHeader.forEach((key) => {
                  var originScore = temp[score["姓名"]];
                  var val = (score[key] || 0) - (originScore[key] || 0);
                  if (topRankHeader.includes(key)) {
                    // 如果是分值越小越好的排名情况
                    val = (originScore[key] || 0) - (score[key] || 0);
                  }
                  this.$set(score, key + "_score", val);
                  //   score[key + "_score"] = score[key] - originScore[key];
                });
              });
            },
            // 读取本地excel文件
            readWorkbookFromLocalFile(file) {
              return new Promise((r, j) => {
                var reader = new FileReader();
                reader.onload = function (e) {
                  var data = e.target.result;
                  var workbook = XLSX.read(data, { type: "binary" });
                  r(workbook);
                };
                reader.readAsBinaryString(file);
              });
            },
            readWorkbook(workbook) {
              var sheetNames = workbook.SheetNames; // 工作表名称集合
              var worksheet = workbook.Sheets[sheetNames[0]]; // 这里我们只读取第一张sheet
              var excel_json = XLSX.utils.sheet_to_json(worksheet);
              return excel_json;
            },
            download() {
              var fileBefore = this.fileBefore;
              var fileNow = this.fileNow;
              if (!fileBefore) {
                alert("请选择上次成绩");
                return;
              }
              if (!fileNow) {
                alert("请选择本次成绩");
                return;
              }
              var aoa = [
                // 第一行表头
                ["姓名", ...scoreHeader.map((v) => [v, "成长"]).flat()],
              ];
              var data = [];
              var nowTableData = this.nowTableData;
              nowTableData.forEach((v) => {
                var arr = [v["姓名"]];
                scoreHeader.forEach((key) => {
                  arr.push(v[key], v[key + "_score"]);
                });
                aoa.push(arr);
              });
              var sheet = XLSX.utils.aoa_to_sheet(aoa);
              // var sheet = XLSX.utils.table_to_sheet(
              //   document.getElementsByClassName("nowTable")[0]
              // );
              this.openDownloadDialog(this.sheet2blob(sheet), "成绩分析.xlsx");
            },
            /**
             * 通用的打开下载对话框方法，没有测试过具体兼容性
             * @param url 下载地址，也可以是一个blob对象，必选
             * @param saveName 保存文件名，可选
             */
            openDownloadDialog(url, saveName) {
              if (typeof url == "object" && url instanceof Blob) {
                url = URL.createObjectURL(url); // 创建blob地址
              }
              var aLink = document.createElement("a");
              aLink.href = url;
              aLink.download = saveName || ""; // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，file:///模式下不会生效
              var event;
              if (window.MouseEvent) event = new MouseEvent("click");
              else {
                event = document.createEvent("MouseEvents");
                event.initMouseEvent(
                  "click",
                  true,
                  false,
                  window,
                  0,
                  0,
                  0,
                  0,
                  0,
                  false,
                  false,
                  false,
                  false,
                  0,
                  null
                );
              }
              aLink.dispatchEvent(event);
            },
            // 将一个sheet转成最终的excel文件的blob对象，然后利用URL.createObjectURL下载
            sheet2blob(sheet, sheetName) {
              sheetName = sheetName || "sheet1";
              var workbook = {
                SheetNames: [sheetName],
                Sheets: {},
              };
              workbook.Sheets[sheetName] = sheet;
              // 生成excel的配置项
              var wopts = {
                bookType: "xlsx", // 要生成的文件类型
                bookSST: false, // 是否生成Shared String Table，官方解释是，如果开启生成速度会下降，但在低版本IOS设备上有更好的兼容性
                type: "binary",
              };
              var wbout = XLSX.write(workbook, wopts);
              var blob = new Blob([s2ab(wbout)], {
                type: "application/octet-stream",
              });
              // 字符串转ArrayBuffer
              function s2ab(s) {
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i = 0; i != s.length; ++i)
                  view[i] = s.charCodeAt(i) & 0xff;
                return buf;
              }
              return blob;
            },
            // 显示指示线
            showLine(e) {
              const $start = $(e.currentTarget).find("td").first();
              const $tempTr = $(".beforeTableBody tr");
              let $end = null;
              try {
                $tempTr.each(function (i) {
                  console.log(i);
                  $end = $(this).find("td").first();
                  if ($end.text().trim() == $start.text().trim()) {
                    return false;
                  }
                });
              } catch (error) {
                throw error;
              }
              /** 显示效果
               *  draw 从起点到终点绘制线条
               *  fade 淡入淡出
               *  none 无效果，即直接显示
               */
              var showEffectName = "draw";
              // 动画参数
              var animOptions = {
                duration: 300, //持续时长
                timing: "ease-in", // 动画函数
              };
              if (leader_line) {
                leader_line.hide(showEffectName, animOptions);
                // setTimeout(() => {
                //   leader_line.remove();
                //   leader_line = null
                // }, 1000);
              }
              leader_line = new LeaderLine(
                LeaderLine.pointAnchor($end.get(0), {
                  x: $end.width() / 2,
                  y: $end.height() / 2,
                }),
                LeaderLine.pointAnchor($start.get(0), {
                  x: $start.width() / 2,
                  y: $start.height() / 2,
                }),
                {
                  startPlugColor: "#ff3792", // 渐变色开始色
                  endPlugColor: "#fff386", // 渐变色结束色
                  gradient: true, // 使用渐变色
                  dash: {
                    // 虚线样式
                    animation: true, // 让线条滚动起来
                  },
                  hide: true,
                }
              );
              leader_line.show(showEffectName, animOptions);
            },
          },
        });
      };
    </script>
  </body>
</html>
